/* General Styles */

/* variables */
:root {
  --bgColor: rgba(17, 17, 90, 0.834);
  --squareSize: 50px;
  --boxBorder: 1px solid lightgray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgColor);
  position: relative;
}

button {
  color: var(--bgColor);
  font-size: 1rem;
  border-radius: 10px;
}

/* Top section */
.top {
  border: var(--boxBorder);
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 500px;
  margin: 20px auto;
  border-radius: 5px;
}

.top .items {
  flex-grow: 2;
}

.top .items p {
  font-weight: bold;
  font-size: 1.05rem;
  margin: 8px;
}

.top .box {
  background-color: white;
  color: var(--bgColor);
  text-align: center;
  width: 120px;
  height: 90px;
}

.top .box p:first-child {
  margin-top: 10px;
  font-size: 1rem;
}

.top .box .score {
  font-size: 3rem;
}

/* Main Section */
main {
  display: flex;
  height: 40vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
}

.p-option p {
  font-size: 60px;
  background-color: aliceblue;
  padding: 30px;
  border: 20px rgba(7, 101, 6, 0.947) solid;
  border-radius: 100px;
}

.right .option p {
  font-size: 60px;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 100px;
  border: 20px rgba(101, 6, 84, 0.947) solid;
}

.middle {
  display: flex;
  flex-direction: column;
}

.middle p {
  font-size: 2rem;
  font-weight: bolder;
}

.middle button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
}

/* choices section */
.choices {
  width: 300px;
  font-size: 2rem;
  text-align: center;
  border: var(--boxBorder);
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.choices button {
  margin-top: 5px;
  /* border-top: 1px red solid; */
  padding: 10px;
}

/* lower section */
.lower {
  position: fixed;
  bottom: 20px;
  right: 40.5vw;
}

.lower button {
  padding: 10px;
  margin-left: 10px;
}
